body{
    background-color: #EBFCDB;
}
header{
    background-color: #F8AF64;
}
footer{
    background-color: #92B3CF;
}
.cartBody{
    width: 100%;
}
.cartitem{ 
    background-color: rgb(71, 132, 160);
    width: 100%;
}
.pay{
    background-color: rgb(137, 130, 197);
    width: 100%;
}