html{
}
body{
    background-color: #EBFCDB;
}
header{
    background-color: #F8AF64;
}
footer{
    background-color: #92B3CF;
}
.mainHead{
    background-image: url("../static/head.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 550px;
}
.mainFirstPart{
    /*为了限制拉伸链接的范围*/
    position: relative;
    background-color: #807B70;
}
.bookInfo{
    background-color: #FCF5EC;
}

.originalPrice{
    font-size: 15px;
}

.salePrice{
    font-size: 25px;
}

.recommendImage{
    width: 240px;
    height: 150px;
}

.bookDescription{
    overflow: auto;
    word-break: keep-all;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.anotherBatch{
    font-size: 1rem;
}