html{

}
body{
    background-color: #EBFCDB;
}
header{
    background-color: #F8AF64;
}
footer{
    background-color: #92B3CF;
}
.mainHead{
    background-image: url("../static/head.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background-size: contain;*/
    width: 100%;
    height: 550px;
}
.mainFirstPart{
    background-color: #807B70;
}
.bookInfo{
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    background-color: #FCF5EC;
}
/*.bookPrice{*/
/*    font-size: 15px;*/
/*    background-color: #8CCAAE;*/
/*}*/

.originalPrice{
    font-size: 15px;
}

.salePrice{
    font-size: 25px;
}


.bookDescription{
    overflow: auto;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.anotherBatch{
    font-size: 1rem;
}
.bookListItem{
    width: 240px;
    height: 150px;
}