body{
    background-color: #EBFCDB;
}
header{
    background-color: #F8AF64;
}
footer{
    background-color: #92B3CF;
}
.userHead{
    background-color: rgb(171, 184, 135);
    width: 102%;
}
.userBody{
    background-color: rgb(159, 214, 198);
    width: 100%;
}